
.main-header.recursos {
    margin-bottom: 1.5rem;
}

.lead .leadLink {
    color: $primary;
}

.portadaMobileWraper {
    display: none;
}

.letraBlanca {
    color: white;
}

/* CAROUSEL  */

.carouselSection {
    max-width: 1500px;
    margin: 3rem auto;
}

/* SERVICIOS  */

.servicios {
    margin: 2rem 0 2rem 0;
}

.gridServicios {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.cajaTextoServicio {
    height: 100%;
    width: 100%;
    object-fit: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f5efff;
    overflow: hidden;
    position: relative;
    max-width: 100%;
    background-color: rgb(82, 0, 136);
    transition: 0.4s ease-out;
}

.image {
    width: 100%;
    height: 100%;
    transition: 0.4s ease-out;
}

.data {
    padding: 1rem;
    position: absolute;
    opacity: 0;
    transform: translateY(30px);
    text-align: center;
    transition: 0.4s ease-out;
}

.data h2 {
    font-size: 2rem;
}

.cajaTextoServicio:hover .image {
    transform: scale(1.2);
    opacity: 0.4;
    filter: grayscale(1);
}

.cajaTextoServicio:hover .data {
    transform: translateY(0);
    opacity: 1;
}

/* COFIAN  */

.confian {
    margin: 2rem auto 2rem auto;
    max-width: 1200px;
}

.grillaConfian {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.grillaConfian img {
    width: 150px;
}


@media (max-width: 767px) {


    /*PORATADA MOBILE */

    .portadaMobileWraper {
        display: block;
        margin: 0;
        padding: 0 ;

        img {
            width: 100%;
        }
    }

    .carouselSection {
        display: none;
    }

    .confian {
        display: none;
    }

    .servicios {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .cajaTextoServicio .image {
        opacity: 0.6;
        filter: grayscale(1);
    }

    .cajaTextoServicio .data {
        transform: translateY(0);
        opacity: 1;
    }

}

.iconito.iconoHome {    /* falta */
    padding: 11px;
    width: 45px;
    height: 45px;
    margin-right: 1rem;
}


.lead.conTic::before {
    display: inline-block;
    transform-style: preserve-3d;
    width: auto;
    font-family: 'Material Icons';
    content: "check";
    color: $primary;
    margin-right: .5rem;
}
