
* {box-sizing: border-box;}

@import "variables";
@import "typography";
@import "consultoria";
@import "campus";
@import "home";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "headerAndFooter";
@import "contacto";




section {padding: 2rem 0;}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.gridContainer {
    display: grid;
    grid-template-areas: "header"
    "main"
    "footer";
    grid-template-rows: 5rem 1fr 10rem;
}

  #root {
    height: 100%;
  }

/* NO BLOG */



.noBlog {
    max-width: 1200px;
    margin: auto;
    color: black;
    background-color: #d5cbfd;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.proximamente {
    margin: auto;
}

.proximamente h1 {
    font-size: 3rem;
    color: white;
}

.proximamente span {
    color: white;
    font-size: 3rem;
}

.proximamenteImg {
    overflow: hidden;
    height: 800px;
    position: relative;
}

#fondo {
    opacity: .6;
    position: absolute;
    left: -350px;
}

#logoBlog {
    position: absolute;
    width: 25rem;
    top: 250px;
    left: 110px;
}

/*  CAMPUS   */

.portadaCampus {
    max-width: 1200px;
    margin: auto;
    margin-top: 5rem;
}

.portadaCampus img {
    margin: auto;
}

.cursosCards {
    margin: 5rem auto 15rem auto;
    max-width: 1300px;
}

.presentacionCursos {
    margin: 2rem;
}


.presentacionCursos span {
    color: darkorchid;
    font-size: 2rem;
}


.card {
    max-width: 300px;
}

.card h5 {
    font-size: 2rem;
}

.card .btn {
    font-size: 1.2rem;
    background-color: #d5cbfd;
}

.contenedorSeparador {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 2rem;
}

.contenedorSeparador span {
    color: darkorchid;
    font-size: 1.8rem;
}

.separador {
    background-color: darkorchid;
    width: 50rem;
    height: .1rem;
}

.bajada {
    font-size: 1.5rem;
    font-weight: 600;
}

.bajada a {
    color: darkorchid;
    font-size: 1.6rem;
    text-decoration: none;
}

//