
* {box-sizing: border-box;}

@import "variables";
@import "typography";
@import "consultoria";
@import "campus";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "headerAndFooter";
@import "contacto";
@import "home";


section {padding: 2rem 0;}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    max-width: 100%;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

.gridContainer {
    display: grid;
    grid-template-areas: "header"
    "main"
    "footer";
    grid-template-rows: 5rem 1fr 10rem;
    height: 100vh;
}

  #root {
    height: 100%;
  }

/* NO BLOG */

.noBlog {
    max-width: 1200px;
    margin: auto;
    color: black;
    background-color: #d5cbfd;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.proximamente {
    margin: auto;
}

.proximamente h1 {
    font-size: 3rem;
    color: white;
}

.proximamente span {
    color: white;
    font-size: 3rem;
}

.proximamenteImg {
    overflow: hidden;
    height: 800px;
    position: relative;
}

#fondo {
    opacity: .6;
    position: absolute;
    left: -350px;
}

#logoBlog {
    position: absolute;
    width: 25rem;
    top: 250px;
    left: 110px;
}

@media (max-width: 767px) {

    .sectionNoBlog {
        padding: 0;
    }

    .noBlog {
        display: flex;
        flex-direction: column;
    }

    .proximamenteImg {
        height: 400px;

        #fondo {
            opacity: .6;
            position: absolute;
            left: -400px;
            top: -340px;
            transform: scale(0.8);
        }

        #logoBlog {
            display: none;
        }

    }

    .proximamente {
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .servicios {
        margin: 0;
        padding: 0;
    }
}
